<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>luzia.Luzia-Universal-Typo-Correcter</string>
	<key>CFBundleShortVersionString</key>
	<string>5.2.1</string>
	<key>CFBundleVersion</key>
	<string>521</string>
	<key>LSUIElement</key>
	<true/>
	<key>LuziaEnterpriseMode</key>
	<string>$(LUZIA_ENTERPRISE_MODE)</string>
	<key>LuziaProxySecretHash</key>
	<string>$(LUZIA_PROXY_SECRET_HASH)</string>
	<key>LuziaProxyURL</key>
	<string>$(LUZIA_PROXY_URL)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Luzia needs permissions to automate keyboard actions for copying and pasting text.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSLogPreferences</key>
	<dict>
		<key>DEFAULT-OPTIONS</key>
		<dict>
			<key>Level</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Wolbyworld/macOS_universal_typo_corrector/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>6GZWiKhcsOojOzy0S4PWEtOqVzmkD675xYRvAOq/7Kw=</string>
</dict>
</plist>
